@keyframes imgAppear {
  0% {
    transform: scale(1.2);
    filter: blur(10px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}

@keyframes imgAppearDark {
  0% {
    transform: scale(1.2);
    filter: blur(10px) brightness(7.5);
  }
  100% {
    transform: scale(1);
    filter: blur(0px) brightness(7.5);
  }
}

@keyframes textAppear {
  0% {
    transform: translateY(100px);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes authorAppear {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

$font1: "DM Mono";
$font2: "Inter";
$font3: "DM Sans";

$bs-dark: #212429;
$bs-dark-2: #2a3546;
$bs-primary: #0d6efd;
$lighter_blue: #4174d5;
$blue: #0c6dfd;
$blue-gradient: linear-gradient(180deg, #647dff, #001aff38);
$grey-gradient: linear-gradient(0deg, $bs-dark-2, #252943);

$still-learning-dark: #451e28;
$knowing-dark: #163b45;
$still-learning: #b90e3a;
$knowing: #00b292;
$purple: #7a5dff;
$white: #e3e3e3;

html {
  margin: 0;
  height: 100%;
}

body {
  background: #e8eae9;
  transition: 0.3s ease;
  min-height: 100vh;
}

body.dark {
  background: $bs-dark;
  box-shadow: inset -55px -52px 104px #282834, inset 86px 150px 128px #0100152b;

  .bg-dark {
    color: $white;
  }

  h2 {
    color: $white;
  }

  nav {
    box-shadow: none;
  }

  .modal-content {
    background: $bs-dark !important;

    input {
      background: $bs-dark-2 !important;
      color: $white;
    }
  }

  small {
    color: $white;
  }
  .modal {
    .modal-title {
      color: $white;
    }

    input {
      color: $white;

      &::placeholder {
        color: $white;
      }
    }
  }

  .login-container {
    .left {
      background: linear-gradient(90deg, #2a3445, transparent);

      .quote {
        h3 {
          animation: textAppear 2s ease forwards;
        }

        h5 {
          animation: authorAppear 2s ease 2s forwards;
        }
      }

      img {
        animation: imgAppearDark 2s ease forwards !important;
        filter: brightness(7.5);
      }
    }

    .account_info {
      color: $white;
    }
  }

  #account {
    p {
      color: $white;
    }
  }

  #create_list_form {
    .card-header {
      border-bottom: 2px solid $lighter_blue !important;

      .card-title {
        color: $lighter_blue !important;
      }
      .delete-card {
        width: 30px;
        height: 30px;
        border: 1.5px solid $lighter_blue !important;
        color: $lighter_blue !important;
        transition: 0.3s ease-in;

        &:hover {
          background: #002fff49;
        }
      }
    }

    label {
      color: $lighter_blue !important;
    }

    .btn.add-card {
      color: $lighter_blue !important;
      border: 2px solid $lighter_blue !important;
      transition: 0.3s ease-in;

      &:hover {
        background: transparent;
        box-shadow: 0px 0px 20px -5px $lighter_blue !important;
      }
    }

    .create-list-btn {
      background: $lighter_blue !important;
      color: $white !important;

      &:hover {
        box-shadow: 0px 0px 20px -5px $lighter_blue !important;
        border: 2px solid $lighter_blue !important;
        color: $white !important;
      }
    }
  }

  nav,
  .card,
  .dropdown-menu,
  .term,
  #content .list,
  #content .folder,
  #lists-tab.active,
  #folders-tab.active,
  #account input,
  #create_list_form input,
  #login input,
  #register input,
  textarea {
    background: $grey-gradient !important;
    color: $white;

    &::placeholder {
      color: $white !important;
    }

    .dropdown-item {
      &:hover {
        background: $bs-dark !important;
      }
    }
  }

  #list_container {
    .options {
      color: $white;
    }

    .list-name {
      color: $white;
    }

    .edit-button {
      color: $white;

      &:hover {
        color: $blue;
      }
    }

    .actions {
      color: $white;
    }

    .finished-lesson {
      h4 {
        color: $white;
      }

      .stats {
        gap: 10px;

        .stat {
          width: 15vw;
        }

        #know {
          background-color: $knowing-dark;
          color: #00d293;
        }

        #stillLearning {
          background-color: $still-learning-dark;
          color: #f76f00;
        }
      }
    }
  }

  #folder {
    h4,
    span {
      color: $white;
    }

    .list {
      .options {
        color: $white;
      }

      .list-icon {
        background: $bs-dark-2 !important;
      }

      &:hover {
        background: $bs-dark-2 !important;
      }
    }
  }

  #content {
    .content-list {
      .list {
        &:hover {
          background: $grey-gradient;
          box-shadow: inset -2px 0px 33px 8px #121a2b;
        }
      }
    }
  }
}

.toast {
  top: 0;
}

nav {
  background: $blue-gradient;
  transition: 0.3s ease;

  .navbar-brand {
    font-family: $font1;
    font-weight: 800;
    font-size: 25px;
    padding-left: 20px;

    span {
      color: #1600ff;
      text-transform: uppercase;
    }
  }

  .nav-right {
    gap: 10px;

    .theme-switcher {
      cursor: pointer;
    }
  }

  .nav-link {
    font-family: $font1;
  }

  .dropdown-menu {
    margin-left: -7vw;
  }
}

.main {
  .container {
    padding: 100px;
  }

  .rounded-circle {
    width: 2vw;
    height: 2vw;
    display: flex;
    font-size: 0.8vw;
    align-items: center;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }

  .login-container {
    height: 92.5vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;

    .left {
      transition: 0.3s ease;
      background: linear-gradient(90deg, #065bfd, transparent);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding: 50px;
      border-radius: 20px 0 0 20px;

      .quote {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 6;
        width: 75%;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
          font-size: 7vw;
          margin-left: -30px;
          color: #ffffff2e;
          line-height: 1px;
          animation: textAppear 2s ease forwards;
        }

        .text {
          display: flex;
          flex-direction: column;
          color: #fff;

          h3 {
            font-family: $font3;
            font-size: 3.5vw;
            font-weight: 300;
            line-height: 9vh;
            animation: textAppear 2s ease forwards;
          }

          h4 {
            opacity: 0;
            animation: authorAppear 2s ease 2s forwards;
          }
        }
      }
      .img-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img {
          opacity: 0.2;
          width: 25vw;
          margin-top: 18vh;
          transition: 0.3s ease;
          animation: imgAppear 2s ease forwards;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #account {
    .actions {
      gap: 10px;
    }
  }

  #create_list_form {
    textarea {
      resize: none;
    }

    .cards-group {
      .card {
        font-family: $font1;

        .card-header {
          border-bottom: 2px solid #91b6f4;

          .card-title {
            color: $blue;
          }

          .delete-card {
            width: 30px;
            height: 30px;
            border: 1.5px solid $blue;
            color: $blue;
            transition: 0.3s ease-in;

            &:hover {
              background: #002fff49;
            }
          }
        }

        label {
          text-transform: uppercase;
          font-size: small;
          color: $blue;
        }
      }
    }

    .btn.add-card {
      color: $blue;
      border: 2px solid $blue;
      transition: 0.3s ease-in;

      &:hover {
        background: transparent;
        box-shadow: 0px 0px 20px -5px $blue;
      }
    }

    .create-list-btn {
      background: $blue;
      color: $white;
      transition: 0.3s ease-in;

      &:hover {
        background: white;
        box-shadow: 0px 0px 20px -5px $blue;
        border: 2px solid $blue;
        color: $blue;
      }
    }
  }

  #content {
    .content-list {
      button {
        width: max-content;
      }

      .folder {
        cursor: pointer;
        gap: 10px;
        transition: 0.3s ease;
        background: $bs-primary;

        a {
          gap: 10px;

          h4,
          i {
            transition: 0.3s ease;
          }

          .name {
            i {
              font-size: 1.5vw;
            }
          }
        }

        &:hover {
          box-shadow: inset -2px 0px 33px 8px #84aeff;
        }
      }

      .list {
        cursor: pointer;
        gap: 10px;
        transition: 0.3s ease;
        background: $bs-primary;

        a {
          span,
          h4,
          i {
            transition: 0.3s ease-in;
          }

          .name {
            gap: 10px;

            i {
              font-size: 1.3vw;
            }
          }
        }

        &:hover {
          box-shadow: inset -2px 0px 33px 8px #84aeff;
        }
      }
    }
  }

  #folder {
    .name {
      gap: 15px;

      i {
        font-size: 2vw;
      }
    }

    .list {
      transition: 0.3s ease-in;

      .options {
        cursor: pointer;
      }

      &:hover {
        background: #f8f9fa;
      }
    }

    .keywords-list {
      gap: 20px;
      flex-wrap: wrap;

      label {
        gap: 10px;

        accent-color: $bs-primary;
      }
    }

    .folder_lists {
      .list {
        a {
          flex-grow: 1.5;
          gap: 20px;

          i {
            font-size: 1.5vw;
          }
        }
      }
    }
  }

  #contentModal {
    .add-content-list {
      gap: 20px;
    }
  }

  #list_container {
    .terms {
      padding: 0px 200px;
    }

    .list-name {
      gap: 15px;

      i {
        font-size: 1.8vw;
        transform: rotate(45deg);
      }
    }

    .cards {
      .card {
        background: $blue-gradient;
        color: #fff;
        height: 20vw;
        width: 40vw;
        box-shadow: 0px 0px 0px 0px transparent;

        .levels {
          gap: 10px;

          label {
            gap: 10px;
          }
        }

        .card-title {
          &::selection {
            background: transparent;
          }
          &::-moz-selection {
            background: transparent;
          }
        }
      }
    }

    .actions {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      justify-content: center;
      justify-items: center;
      gap: 40px;

      .changeCard {
        gap: 25px;
      }
    }

    .terms {
      .term {
        min-width: 50vw;
        background: $blue-gradient;
        color: $white;

        .term-container {
          gap: 10px;
          flex-grow: 1.5;

          span {
            min-width: 13.9vw;
          }
        }

        form {
          flex-grow: 1.5;

          input[type="text"] {
            min-width: 12.9vw;
            color: $white;
          }
        }

        .wrapper {
          gap: 15px;
        }
      }
    }

    .finished-lesson {
      display: grid;
      grid-template-columns: 30% 70%;
      justify-items: center;
      align-items: center;

      .message {
        grid-column: 1/3;
      }

      #scoreChart {
        height: 15vw !important;
        width: 15vw !important;
      }

      .stats {
        gap: 10px;

        .stat {
          width: 15vw;
        }

        #know {
          background-color: $knowing;
          color: #5effcf;
        }

        #stillLearning {
          background-color: $still-learning;
          color: #ff714c;
        }
      }

      #back_button {
        grid-column: 1/3;
        margin-top: 25px;
      }
    }
  }

  #import_list_container {
    padding: 100px;
    margin: 0 auto;

    form {
      align-items: center;
      width: max-content;
      margin: 5vw auto;

      .icon {
        border: 5px solid $bs-primary;
        border-radius: 10px;
        color: $bs-primary;
        width: max-content;
        padding: 40px 60px;
        font-size: 5vw;
        cursor: pointer;
      }

      .file-name {
        padding-left: 10px;
      }

      input[type="file"] {
        position: absolute;
        height: 16vw;
        cursor: pointer;
        opacity: 0;
      }

      input#submit {
        width: max-content;
        padding: 10px 20px;
        background: $bs-primary;
        color: $white;
        border-radius: 5px;
        border: none;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navbar-collapse {
      width: 100%;
    }

    .navbar-toggler {
      margin-right: 20px;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px 45px;
    }
  }
  .main {
    padding: 50px 10px;

    .container {
      padding: 0;
    }

    .login-container {
      display: block;

      .left {
        display: none;
      }
    }

    .rounded-circle {
      width: 10vw;
      height: 10vw;
      font-size: 3.8vw;
    }

    #content {
      .content-list {
        .list,
        .folder {
          a {
            .name {
              i {
                font-size: 5.3vw;
              }
            }
          }
        }
      }
    }
    #create_list_container {
      width: 100% !important;

      form {
        .inputs {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }

    #list_container {
      .finished-lesson {
        width: 75% !important;

        #scoreChart,
        .stats {
          grid-column: 1/3;
        }

        #scoreChart {
          height: 50vw !important;
          width: 50vw !important;
        }

        .stats {
          margin: 20px;

          .stat {
            width: 45vw;
          }
        }
      }

      .list-name {
        i {
          font-size: 8.8vw;
        }
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .cards {
        .card {
          height: 55vw;
          width: 85vw;
        }
      }

      .terms {
        padding: 0px;
        padding-top: 0px !important;
      }

      .terms {
        .term {
          padding: 20px !important;

          form {
            input[type="text"] {
              max-width: 32vw;
            }
          }
        }
      }
    }

    #account {
      .actions {
        width: 65% !important;
      }
    }

    #folder {
      .folder_actions {
        width: 75%;
        margin: 20px auto 0;
      }

      .folder_lists {
        .list {
          a {
            i {
              font-size: 5.5vw;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  .main {
    .login-container {
      height: 95.3vh;
    }
  }
}
